/* add main styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  background-color: #cecbcb;
}
* {
  box-sizing:border-box;
}
/* add styles to main container */
.main-wrapper {
  margin: 20px auto;
  width: 1024px;
}
html {
  scroll-behavior: smooth;
  }
.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
hr {
  height: 30px;
  border-style: solid;
  border-color: rgb(34, 33, 33);
  border-width: 1px 0 0 0;
  border-radius: 20px;
}